.main {
    width:90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    
}

body {
    background-color: yellowgreen;
}


.container {
   display: flex;
        
}



header,footer {
    background-color: ;
    height: 15vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: 200px;
    height: 90px;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 3px;
}

.face {
    display: flex;
    margin-right: 50px;
    align-items: center;
}

.face-image {
    flex: 1;
}

.face-image img {
    width: 40px;
    height: 40px;
}

.face-text {
    font-size: 1.3rem;
    flex: 3;
    padding: 2px;
}

nav,aside {
    height: 40vh;
    
    flex: 1;
}

.nav-link {
    display: flex;
    justify-content: center;
    height: 70vh;
    flex: 1;  
}

.nav-link a {
    background: #fff;
    font-size: 1.3rem;
    padding: 2px;
    border-radius: 5%;
}

.nav-link h2 {
    background: #fff;
    padding: 2px;
    border-radius: 5%;
}

ul {
    list-style: none;
    padding: 5px;
}
li {
    padding: 10px;
}

li a {
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    background-color: #fff;
    opacity: .5;
    border-radius: 4px;
}

article {
    height: 75.1vh;
    background-color: aliceblue;
    background-image: ;
    border: solid;
    flex: 4;
}

.tonnie-burgers {
    background: url("../images/Resized_PART_1628987520954_Resized_20210404_122331.jpg")no-repeat center center/cover;
    height: 69vh;
    position:relative;
    
}

.tonnie-burgers h1 {
    background: #28a745;
    width: 110px;
    font-size: 1.8rem;
    opacity: .8;
}

.menu {
    background: url("../images/tonnie_burgers.jpg")no-repeat center center/cover;
    display: flex;
    height: 75vh;
    width: 900px;
    
    color: #fff;
}

.burgers label {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;

}

.container article {
    display: flex;
    flex-direction: column;
}

.container article footer {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 250px;
}

.footer a {
    color: 000;
}

.footer .p {
    margin-top: 10px;
}

.footer a:hover {
    color: #333;
}

.footer .social > * {
    margin-right: 30px;
    
}
.footer .social a > * {
    padding-top: 5px;
    
}

.footer .social .fab {
    padding-bottom: 10px;
    margin-top: 10px;
    color: #000;

}
.footer .social .fab:hover {
    padding-bottom: 10px;
    margin-top: 10px;
    color: #28a745;

}
.footer .social .fas {
    padding-top: 5px;
    
    color: #000;

}
.footer .social .fas:hover {
    
    color: #28a745;
    

}
    